services:
  app:
    build: ./app/
    image: ml-service-api:1.0.0
    container_name: ml-service-api
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./app:/app
    depends_on:
      - database
    networks:
      - ml-service-network
    healthcheck:
      test: [ "CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/health')" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s


  database:
    image: postgres:16-alpine
    container_name: ml-service-db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - ml-service-network


  web-proxy:
    image: nginx:1.27.x
    container_name: ml-service-nginx
    restart: unless-stopped
    ports:
      - "80:80" #для незащищённого http
      - "443:443" # для будущей защиты (SSL/HTTPS)
    depends_on:
      app:
        condition: service_healthy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/ssl:/etc/nginx/ssl
    networks:
      - ml-service-network

  rabbitmq:
    image: rabbitmq:3.13.1-management
    hostname: rabbitmq
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - RABBITMQ_DEFAULT_USER=${MQ_USER}
      - RABBITMQ_DEFAULT_PASS=${MQ_PASSWORD}
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=${RMQ_ERL_ARGS}
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq
    ports:
      - 15672:15672  # порт для админки в браузере
      - 5672:5672 # порт для передачи самих сообщений
    networks:
      - ml-service-network

volumes:
  postgres_data: # объявляем виртуальный диск для базы данных

networks:
  ml-service-network: # объявляем общую сеть
    name: ml-service-network
    driver: bridge
