services:
  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    image: ml-service-api:0.1.0
    container_name: ml-service-api
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./app:/src/app
    depends_on:
      database:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      ml-service-network:
        aliases:
          - app
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import urllib.request; urllib.request.urlopen('http://localhost:8000/health')\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s


  database:
    image: postgres:16-alpine
    container_name: ml-service-db
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    networks:
      - ml-service-network


  web-proxy:
    image: nginx:1.27-alpine
    container_name: ml-service-nginx
    restart: unless-stopped
    ports:
      - "80:80" #для незащищённого http
      - "443:443" # для будущей защиты (SSL/HTTPS)
    depends_on:
      app:
        condition: service_healthy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/ssl:/etc/nginx/ssl
    networks:
      - ml-service-network


  rabbitmq:
    image: rabbitmq:3.13.1-management
    hostname: rabbitmq
    restart: unless-stopped
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 20s
      timeout: 10s
      retries: 3
    volumes:
      - rabbitmq:/var/lib/rabbitmq
    ports:
      - 15672:15672  # порт для админки в браузере
      - 5672:5672 # порт для передачи самих сообщений
    networks:
      - ml-service-network


  worker-1:
    build:
      context: .
      dockerfile: ml_worker/Dockerfile
    image: ml-service-worker:0.1.0
    container_name: ml-service-ml_worker-1
    restart: unless-stopped
    command: ["python", "-m", "ml_worker.main"]
    env_file:
      - .env
    environment:
      - WORKER_ID=ml_worker-1
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - ml-service-network

  worker-2:
    image: ml-service-worker:0.1.0
    container_name: ml-service-ml_worker-2
    restart: unless-stopped
    command: ["python", "-m", "ml_worker.main"]
    env_file:
      - .env
    environment:
      - WORKER_ID=ml_worker-2
    depends_on:
      rabbitmq:
        condition: service_healthy
      worker-1:
        condition: service_started
    networks:
      - ml-service-network

  rpc-worker:
    image: ml-service-worker:0.1.0
    container_name: ml-service-rpc_worker-1
    restart: unless-stopped
    command: ["python", "-m", "ml_worker.main"]
    env_file:
      - .env
    environment:
      - WORKER_MODE=rpc
      - WORKER_ID=rpc_worker-1
    depends_on:
      rabbitmq:
        condition: service_healthy
      worker-1:
        condition: service_started
    networks:
      - ml-service-network

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    image: ml-service-bot:0.1.0
    container_name: ml-service-bot
    restart: unless-stopped
    command: ["python", "-m", "bot.main"]
    env_file:
      - .env
    depends_on:
      app:
        condition: service_healthy
    networks:
      ml-service-network:
        aliases:
          - bot


volumes:
  postgres_data: # виртуальный диск для базы данных
  rabbitmq: #вирутальный диск для RabbitMQ


networks:
  ml-service-network: # объявляем общую сеть
    name: ml-service-network
    driver: bridge
